.list{
    color: black;
    width: 350px;
    margin: 20px auto;
    height: 50px;
    background-color:#fff;
    border-radius: 5px;
}
.list p{
    padding: 10px;
    position: relative;
    transition: ease-in-out;
    
}
.list p input{
    background-color: transparent;
    border: 0;
    color: black;
    font-size: 18px;
    cursor: pointer;
}

.list  span{
    right: 10px;
}


.list span#textDecoration{
    margin-right: 200px;
}


.showFooter {
    color: #fff;
    width: 450px;
    margin: 20px auto;
    height: 50px;
    background-color: #fff;
    border-radius: 5px;
}


.faiconsCheck{
    font-size: 20px;
    float: left;
    width: 10%;
    padding: 10px; 
    cursor: pointer;
    color:white
}
.faiconsCheck:hover{
    cursor: pointer;
	color: #12ed5b;

}
.middlebox{
    font-size: 20px;
    float: right;
    width: 90%;
    padding: 10px; 
    cursor: pointer;
}
.middlebox-left{
    width: 80%;
    float: left;
    color:rgb(0, 0, 0)
}
.middlebox-right {
    display: none;
    width: 20%;
    float: right;
    color: #f50707;
}
  
.middlebox:hover .middlebox-right {
    display: block;
}
.completed-left{
    float: left;
    padding: 10px;
    font-size: 20px;
    color: #12ed5b;
}

.completed-right{
    
    float: left;
    padding: 10px;
    font-size: 20px;
}