body{
  background-color: #30b5dd;
}

.App{
  background-color: #cfc1f1;
  min-height: 500px;
  width: 500px;
  margin: 40px auto;
}

#todo-form input{
  background-color: rgb(27,112,137);
  border: 0;
  width: 450px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: #fff;
}

#todo-form input::placeholder{
  color: rgba(255,255,255,0.5);
}

#todo-form input:focus,#todo-form button:focus{
  outline: none;
}

#todo-form button{
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(202,156,24);
  cursor: pointer;
  font-weight: bolder;
  color: #fff;
}

.showFooter p{
  padding: 10px;
  color: black;
  position: relative;
}

.showFooter button{
  border-radius: 5px;
  border: 0;
  margin : 0 2px;
  cursor: pointer;
}

.left{
  float: left;
}
.right{
  float: right;
}
.right:hover{
  text-decoration: underline;
  cursor: pointer;
}
